{% extends 'account_base.html' %}

{% load static tailwind_tags %}

{% tailwind_css %}

{% block content %}
  <section class="bg-gray-900 h-screen">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">Akkaunt yarating</h1>
          <form class="space-y-4" action="post">
            {% csrf_token %}
            {% for field in form %}
              <div>
                <label class="block mb-2 text-sm font-medium text-white">{{ field.label }}</label>
                {{ field }}
              </div>
            {% endfor %}
            <p class="text-sm font-light text-gray-400">
              Akkauntingiz allaqachon bormi? <a href="{% url 'login' %}" class="font-medium hover:underline text-rose-500">Kiring</a>!
            </p>
            <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-rose-600 hover:bg-rose-700 focus:ring-rose-800">Akkaunt yaratish</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
